.container-card{
    border-radius: 20px;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-slider {
    width: 100%;
    overflow: hidden;
  }
  
  .main-slide-image {
    width: 100%;
    height: auto;
  }
  
  .thumbnail-slider {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
  }
  
  .thumbnail {
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity .5s ease;
  }
  
  .thumbnail.active {
    opacity: 1;
    transform: scale(1.1);
    transition: .5s;
  }
  
  .img-thumb{
    width: 100%;
  }

/* - - - - */

.card-top{
  background-image: linear-gradient(to right top, #00a541 37%, #0567c0 142%);
    border-radius: 19px 19px 0px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.050);
    padding: 0.5rem;
}

.container-card:hover {
    transform: scale(1.03);
    box-shadow: 10px 13px 24px -12px rgba(0,165,65,0.75);
    -webkit-box-shadow: 10px 13px 24px -12px rgba(0,165,65,0.75);
    -moz-box-shadow: 10px 13px 24px -12px rgba(0,165,65,0.75);
}

.title-card {
    color: white;
    font-size: 1.5rem;
    margin-bottom: -2px;
    font-weight: 300;
    text-align: center;
}

.container-cucardas {
    position: relative;
}

.marca-moto {
    width: 7rem;
    position: absolute;
    transform: translateY(-.6rem);
    left: 0;
}

.cucarda-moto {
    position: absolute;
    width: 7rem;
    right: 0;
    margin-top: .1rem;
}

.div-info{
    padding-top: 1rem;
}

.info-card {
    margin-top: 1rem;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 500;
}

.price {
    color: #00a541;
    margin-top: .6rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
}

.btn-verde-wpp {
    padding: .5rem;
    margin-top: 1rem;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    background-color: #00a541;
}

.btn-wpp{
    height: 20px;
    margin-right: 5px;
    margin-bottom: -3px;
}

.card-buttom {
    border-radius: 0px 0px 20px 20px;
}