*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.mi-clase {
  font-family: 'Roboto', sans-serif;
}


.navbar{
  background-color: #00a541;
}

.btn-verde-asesoriamiento{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    background-color: #00a541;
}

.carousel-item img {
  max-height: 500px; 
}

.btn_ubicacion{
  color: #00a541;
  font-weight: 700;
}

.list-group-item{
  text-align: left;
}

.icongps{
  color: red;
  margin-right:.6rem;
}

.icontel{
  color: #00a541;
  margin-right:.6rem;
}

/* Estilos generales del carousel */
.sales-carousel-container {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

/* Estilos de las tarjetas de asesores */
.card-asesor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.asesor-img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*---------*/

.slick-prev, .slick-next{
  margin: -1.5rem;
}

.imgdot{
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.356);
  border-radius: 100px;
  width: 27px;
  height: 27px;
  -webkit-box-shadow: -1px 3px 15px -5px rgba(102,102,102,1);
  -moz-box-shadow: -1px 3px 15px -5px rgba(102,102,102,1);
  box-shadow: -1px 3px 15px -5px rgba(102,102,102,1);
}

.imgcardslice {
  max-width: 400px; /* Ancho máximo de las imágenes */
  width: 100%; /* Ajusta el ancho al máximo permitido */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 10px; /* Espacio horizontal entre las imágenes */
}

.footer {
  background-color: #00a541;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}



